@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    45deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  color: rgb(var(--foreground-rgb));
}

.emojiWrapper1 {
    width: 1em;
    height: 1em;
   margin: 0.25em .05em .0em .0em;
    display: inline-block;
   vertical-align: -0.1em;
}

.emojiWrapper2 {
    width: 2em;
    height: 2em;
   margin: 0.25em .05em 0.25em .1em;
    display: inline-block;
   vertical-align: -0.1em;
}

@layer base {
    h4 {
        @apply text-lg;
    }
    h3 {
        @apply text-xl;
    }
    h2 {
        @apply text-2xl;
    }
    h1 {
        @apply text-3xl;
    }
    a {
        @apply text-blue-500;
    }
    a:hover {
        @apply text-blue-700;
    }
    code {
        @apply bg-neutral-800 text-neutral-100;
        @apply text-sm;
        @apply p-0.5 rounded-sm;
    }
    code:hover {
        @apply bg-neutral-700;
    }
    blockquote {
        @apply border-l-4 border-neutral-500 pl-4;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
